/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/04/2019, 1:24:22 PM
    Author     : mougi
*/

body{
    background-color: white;
    margin: 0;
}

.p1{
    color: white;
    font-size: 25px;
    font-family: arial;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.p2{
    color: white;
    font-size: 25px;
    font-family: Helvetica,Arial,sans-serif;
    margin-left: 20px;
}

.p3{
    color: white;
    font-size: 15px;
    font-family: Helvetica,Arial,sans-serif;
}

.p4{
    color: white;
    font-size: 25px;
    font-family: Helvetica,Arial,sans-serif;
}

.navbarTxt{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-style: normal;
    font-size: 30px;
    font-family: Helvetica,Arial,sans-serif;
    padding: 10px;
}

.navbarTxt:hover{
    background-color: white;
    border-radius: 4px;
    border: none;
    color: black;
}

.navbarTxt2{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-style: normal;
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
}

.navbarTxt3{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-style: normal;
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
}

.navbarTxt3:hover{
    background-color: white;
    border-radius: 4px;
    border: none;
    color: black;
}

.navbar-transparent{
    background-color: none; 
    margin: auto;
}
.navbar-colored{
    background-color: #222222; 
    margin: auto;
}
.navbar2{
    margin-left: 15%;
    text-align: left;
    display: inline-block;
}

.navbar3{
    margin-right: 15%;
    text-align: right;
    display: inline-block;
    float: right;
}

.first{
    background-image: url(images/RitzC1wAngle.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.second{
    background-color: white;
    margin: auto;
    height: 200px;
}

.third{
    height: 120px;
    background-color: #222222;
    bottom: 0;
}

.fourth{
    background-color: #404040;
    padding: 30px;
    width: 40%;
    border-radius: 25px;
    margin: auto;
}

.fifth{
    background-color: #191919;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 0;
    margin: auto;
    padding: 10px;
    color: white;
}

.sixth{
    width: 100%;
    margin: auto;
    padding: 15px;
    display: inline-block;
}

.seventh{   /*boxes on moviemanage.jsp*/
    border-radius: 10px;
    background-color: #191919;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: auto;
    width: 90%;
    padding: 10px;
    color: white;
}

.text{
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    font-family: arial;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.filler1{
    height: 30px;
}

.poster{    
    display: inline-block;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    margin: auto;
    color: black;
    text-align: center;
    background-color: gray;
}

img{
    width: 220px;
    height: 340px;
}
table{
    margin: auto;
}

.tablescroll{
    width: 100%;
    border-spacing: 0px;
    border-collapse: separate;

}

.tablescroll tr:nth-child(even){
    background-color: black;
}


.tablescroll tbody{
    display: block;
    overflow:auto;
    height: 300px;
    position: relative;
}

.tablescroll thead{
    display: block;
}

.tablescroll tr{
    display: block;
}

.tablescroll td{
    width: 200px;
}

.alt-table{
    margin: auto;
    display: inline-block;
}

td{
    padding: 2%;
}

.Other{
    margin: auto;
    height: 300px;
    width: 200px;
    background-color: lightgrey;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;  
    font-size: 25px;
    font-family: Helvetica,Arial,sans-serif;
}

.Fantasy{
    margin: auto;
    height: 300px;
    width: 200px;
    background-color: palegreen;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;  
    font-size: 25px;
    font-family: Helvetica,Arial,sans-serif;
}

.Horror{
    margin: auto;
    height: 300px;
    width: 200px;
    background-color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;  
    color: white;
    font-size: 25px;
    font-family: Helvetica,Arial,sans-serif;
}

.Adventure{
    margin: auto;
    height: 300px;
    width: 200px;
    background-color: palevioletred;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;  
    font-size: 25px;
    font-family: Helvetica,Arial,sans-serif;
}

.Action{
    margin: auto;
    height: 300px;
    width: 200px;
    background-color: palegoldenrod;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;  
    font-size: 25px;
    font-family: Helvetica,Arial,sans-serif;
}

.Romance{
    margin: auto;
    height: 300px;
    width: 200px;
    background-color: pink;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;  
    font-size: 25px;
    font-family: Helvetica,Arial,sans-serif;
}

.Crime{
    margin: auto;
    height: 300px;
    width: 200px;
    background-color: darkgrey;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;  
    color: white;
    font-size: 25px;
    font-family: Helvetica,Arial,sans-serif;
}

.Sci-Fi{
    margin: auto;
    height: 300px;
    width: 200px;
    background-color: silver;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;  
    font-size: 25px;
    font-family: Helvetica,Arial,sans-serif;
}

.Western{
    margin: auto;
    height: 300px;
    width: 200px;
    background-color: brown;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;  
    font-size: 25px;
    font-family: Helvetica,Arial,sans-serif;
}
