/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/04/2019, 1:24:22 PM
    Author     : mougi
*/

body{
    background-color: white;
    margin: 0;
}

.p1{
    color: white;
    font-size: 25px;
    font-family: arial;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.navbarTxt{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-style: normal;
    font-size: 30px;
    font-family: Helvetica,Arial,sans-serif;
    padding: 10px;
}

.navbarTxt:hover{
    background-color: white;
    border-radius: 4px;
    border: none;
    color: black;
}

.navbarTxt2{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-style: normal;
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
}

.navbarTxt3{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-style: normal;
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
}

.navbarTxt3:hover{
    background-color: white;
    border-radius: 4px;
    border: none;
    color: black;
}

.navbar{
    background-color: none; 
    margin: auto;
}

.navbar2{
    margin-left: 15%;
    text-align: left;
    display: inline-block;
}

.navbar3{
    margin-right: 15%;
    text-align: right;
    display: inline-block;
    float: right;
}

.first{
    background-image: url(images/RitzC1wAngle.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.second{
    background-color: white;
    margin: auto;
}

.third{
    height: 120px;
    background-color: #222222;
    bottom: 0;
}

.fourth{
    background-color: #404040;
    padding: 30px;
    width: 40%;
    border-radius: 25px;
    margin: auto;
}
.seventh{

}

.text{
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    font-family: arial;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.filler1{
    height: 30px;
}

.fifth{
    margin: auto;
    width: 60%;
    padding: 10px;
}

.sixth{
    width: 100%;
    margin: auto;
    padding: 15px;
    display: inline-block;
}

.poster{    
    display: inline-block;
    padding: 8px;
    border-radius: 8px;
    margin: auto;
    color: black;
    text-align: center;
    background-color: gray;
}

img{
    width: 220px;
    height: 340px;
}